body {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #fff5e1;
    color: #5a3e2b;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #b45f04;
    margin-bottom: 15px;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#catWeatherDisplay {
    padding: 15px;
    width: 90%;
    margin: 15px auto;
    background-color: #fdf4e3;
    border: 1px solid #d4a76a;
    border-radius: 10px;
    text-align: center;
   
}
 
#catWeatherDisplay p {
    font-size: 18px;
    color: #5a3e2b;
    margin: 15px 0;
    line-height: 1.6;
    font-weight: bold;
}

#catWeatherDisplay .error {
    font-size: 16px;
    color:#b22222;
    font-weight: bold;
    margin: 10px 0;
  }

img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

input {
    width: calc(100% - 20px);
    max-width: 250px;
    padding: 8px;
    border: 1px solid #d4a76a;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #5a3e2b;
    background-color: #fff8e7;
}

button { 
    background-color: #b45f04;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d1823e;
}

@media (min-width: 768px) {
    h1 {
        font-size: 32px; 
        margin-bottom: 20px;
    }

    #catWeatherDisplay {
        max-width: 500px; 
        padding: 20px;
        margin: 20px auto;
    }

    img {
        max-width: 300px; 
    }

    input {
        max-width: 300px; 
        font-size: 16px; 
    }

    button {
        font-size: 16px;
        padding: 10px 20px; 
    }
}
